<div class="rich-text">
  <hr>
  {% if section.settings.section_title != blank %}
    <div class="section-header rich-text__heading rich-text__heading--{{ section.settings.text_size }}">
      <p class="h1">{{ section.settings.section_title | escape }}</p>
    </div>
  {% endif %}
  {% if section.settings.text != blank %}
    <div class="rte rich-text__text--{{ section.settings.text_size }}">
      {{ section.settings.text }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": {
      "es": "Texto enriquecido",
      "it": "Rich text",
      "en": "Rich text",
      "ja": "リッチテキスト",
      "fr": "Texte enrichi",
      "de": "Rich Text",
      "pt-BR": "Rich text"
    },
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "es": "Título",
          "it": "Heading",
          "en": "Heading",
          "ja": "見出し",
          "fr": "Titre",
          "de": "Titel",
          "pt-BR": "Título"
        },
        "default": {
          "es": "Habla de tu marca",
          "it": "Parla del tuo brand",
          "en": "Talk about your brand",
          "ja": "あなたのブランドについて語る",
          "fr": "Parler de votre marque",
          "de": "Über Ihre Marke sprechen",
          "pt-BR": "Fale sobre a sua marca"
        }
      },
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "es": "Texto",
          "it": "Testo",
          "en": "Text",
          "ja": "テキスト",
          "fr": "Texte",
          "de": "Text",
          "pt-BR": "Texto"
        },
        "default": {
          "es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes. Describe un producto, comparte anuncios o recibe clientes en tu tienda.</p>",
          "it": "<p>Utilizza questo testo per condividere le informazioni sul tuo brand con i clienti. Descrivi un prodotto, condividi gli annunci o dai il benvenuto ai clienti nel tuo negozio.</p>",
          "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
          "ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。商品を説明したり、告知の共有をしたり、あるいはあなたのストアのお客様を歓迎します。</p>",
          "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</p>",
          "de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</p>",
          "pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. Descreva um produto, compartilhe novidades ou receba os clientes em sua loja.</p>"
        }
      },
      {
        "type": "select",
        "id": "text_size",
        "label": {
          "es": "Tamaño",
          "it": "Misura",
          "en": "Size",
          "ja": "サイズ",
          "fr": "Taille",
          "de": "Größe",
          "pt-BR": "Tamanho"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "es": "Pequeño",
              "it": "Small",
              "en": "Small",
              "ja": "小",
              "fr": "Petite",
              "de": "Klein",
              "pt-BR": "Pequeno"
            },
            "value": "small"
          },
          {
            "label": {
              "es": "Mediano",
              "it": "Medium",
              "en": "Medium",
              "ja": "中",
              "fr": "Moyenne",
              "de": "Mitte",
              "pt-BR": "Médio"
            },
            "value": "medium"
          },
          {
            "label": {
              "es": "Grande",
              "it": "Large",
              "en": "Large",
              "ja": "大",
              "fr": "Grande",
              "de": "Groß",
              "pt-BR": "Grande"
            },
            "value": "large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "es": "Texto enriquecido",
          "it": "Rich text",
          "en": "Rich text",
          "ja": "リッチテキスト",
          "fr": "Texte enrichi",
          "de": "Rich Text",
          "pt-BR": "Rich text"
        },
        "category": {
          "es": "Texto",
          "it": "Testo",
          "en": "Text",
          "ja": "テキスト",
          "fr": "Texte",
          "de": "Text",
          "pt-BR": "Texto"
        }
      }
    ]
  }
{% endschema %}
