<div id="topsection" class="medium-down--hide">
<div class="wrapper">
<div id="benefits"> Beste Qualität direkt vom Hersteller <span class="topspacer">|</span> Portofrei ab 40€ <span class="topspacer">|</span>  Versand in 24h </div>
        {% include 'search-bar' %}
</div>
</div>



{% schema %}
  {
    "name": "Top",
    "settings": []
  }

{% endschema %}



{% stylesheet %}

{% endstylesheet %}



{% javascript %}
{% endjavascript %}

